In [293]:
import pandas as pd
import numpy as np
import fnmatch
import matplotlib
import unidecode
import matplotlib.pyplot as plt
import re
import chardet
from os import listdir
from os.path import isfile, join

In [294]:
datasets_path = "../data/raw/accidents/"

# Step 1: Load dataframes data into list of DFs

In [295]:
def set_name(df, name):
    df.name = name
    return df

def predict_encoding(file_path, n_lines=10):
        with open(file_path, 'rb') as f:
            rawdata = b''.join([f.readline() for _ in range(n_lines)])
            return chardet.detect(rawdata)['encoding']

# Load dataframes with special encoding
df_2010 = pd.read_csv(datasets_path + '2010_accidents.csv', encoding=predict_encoding(datasets_path + '2010_accidents.csv'))
df_2011 = pd.read_csv(datasets_path + '2011_accidents.csv', encoding=predict_encoding(datasets_path + '2011_accidents.csv'))
df_2012 = pd.read_csv(datasets_path + '2012_accidents.csv', encoding=predict_encoding(datasets_path + '2012_accidents.csv'))
df_2013 = pd.read_csv(datasets_path + '2012_accidents.csv', encoding=predict_encoding(datasets_path + '2013_accidents.csv'))
df_2015 = pd.read_csv(datasets_path + '2015_accidents.csv', encoding=predict_encoding(datasets_path + '2015_accidents.csv'))
df_2016 = pd.read_csv(datasets_path + '2016_accidents.csv', encoding=predict_encoding(datasets_path + '2016_accidents.csv'))

df_names = ['df_2010', 'df_2011', 'df_2012', 'df_2013','df_2015', 'df_2016']

# Concatenate dataframes
accidents_df_list = [df_2010, df_2011, df_2012, df_2013, df_2015, df_2016]

accidents_df_list = [set_name(df, name) for df, name in zip(accidents_df_list, df_names)]

# Step 2: Find wrong/missing data
## Step 2.1: Normalize column names
    1) Swap space " " for underscore "_" and remove apostrophe "'"
    2) Deunicode and lowercase columns names

In [296]:
def clean_headers(df):
    df.columns = df.columns.str.replace(' ', '_').str.replace('\'', '')
    df.rename(columns=lambda c: c.lower(), inplace=True)
    return df

accidents_df = [clean_headers(df) for df in accidents_df_list]
accidents_df[4].head(1)

,número_dexpedient,codi_districte,nom_districte,codi_barri,nom_barri,codi_carrer,nom_carrer,num_postal_caption,descripció_dia_setmana,dia_setmana,...,dia_de_mes,hora_de_dia,descripció_causa_vianant,desc._tipus_vehicle_implicat,descripció_sexe,descripció_tipus_persona,edat,descripció_victimització,coordenada_utm_(y),coordenada_utm_(x)
0,2015S005991,-1,Desconegut,-1,Desconegut,-1,Desconegut,Desconegut,Dimarts,Dm,...,4,4,No és causa del vianant,Motocicleta,Home,Conductor,36,Ferit lleu,-1,-1

## Step 2.2: Remove unnecessary columns.

In [297]:
unnecessary_cols = ["descripció_dia_setmana", "descripció_torn", "long", "lat"]

def clean_cols(df):
    for col in unnecessary_cols:
        if col in df: 
            del df[col]
    return df

accidents_df = [clean_cols(df) for df in accidents_df]

## Step 2.3: Find inconsistent data among Dataframes rows.

In [298]:
def clean_col(df, col):
    df[col] = df[col].dropna()
    return df

def delete_multispaces(row):
    for index, value in row.items():
        if type(value) == str:
            value = value.strip()
            value = re.sub(r'(?<=[A-Za-z])( +)(?=[A-Za-z])', ' ', value)
            value = re.sub(r'(?<=\d)( +)(?=\d)?', '', value)
            row.at[index] = value
    return row

for df in accidents_df:
    df_name = df.name
    null_cols = list(df.columns[df.isna().any()])

    for null_col in null_cols:
        df = df[(df[null_col].notna()) & (df[null_col].replace(" ", ""))]

    if "num_postal_caption" in df: 
        del df["num_postal_caption"]

    
    df = df.apply(delete_multispaces)
    
    df.to_csv(df_name + "_out.csv")